/* css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a,a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color:white;
}
img{
  display: block;
}
ul,ol{
  list-style: none;
}
li {
  line-height: 25px;
}
button {
  outline: none;
  background: white;
  border: none;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
body{
  font-family: 'Courier New', Courier, monospace;
  background: rgb(35, 35, 35);
  color:white;
}
h1{
  font-size: 70px;
  margin:10px;
  font-family: 'Poppins', sans-serif;
}
h2{
  font-family: 'Poppins', sans-serif;
}

/* navbar */
#navbar{
  height:100vh;
  width: 15%;
  position: fixed;
  top:0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#navbar li{
  margin-bottom: 3em;
  font-size: 20px;
  transition: transform 0.3s ease-out;
}
#navbar li:hover{
  transform: translateX(5px);
}
#navbar li a{
  color:white;
}
#navbar li a:hover{
  color:palevioletred; 
  font-weight: bolder;
}
@media (max-width: 400px) {
  #navbar {
    width:100vw;
    height: 7%;
    background: rgb(35, 35, 35);
  }
  #navbar ul{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #navbar li{
    margin-bottom: 0;
  }
  #navbar li:hover{
    transform: none;
  }
}
/* welcome */
#main{
  position: relative;
  left: 15%;
  width: 85%;
}
#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#welcome >p{
  font-size: 20px;
  font-style: italic;
  color:palevioletred; 
}
@media (max-width: 400px) {
  #main{
    position: relative;
    top:15%;
    left: 0;
    width: 100%;
    text-align: center;
  }
}
/* projects */
/* #main *{
  border: 1px solid red;
} */
#projects{
  text-align: center;
  
  padding-bottom:60px;
  padding-top:15px;
}

.projects-header{
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  border-bottom: 2px solid; 
  padding: 5px;
  margin: 55px auto ;
  max-width: 16em;
}
@media (max-width: 400px) {
  .projects-header{
    font-size: 40px;
    margin: 25px auto ;
  }
}
.projects-grid{
  display: grid;
  margin: 40px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin-bottom: 50px;
}
.project{
  background: rgb(69, 86, 125);
}
.projects-grid>*{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects-grid p{
  padding: 10px ;
  
  font-weight: 700;
}
.project-image{
  width: 100%;
}

.code {
  color: transparent;
  transition: color 0.3s ease-out;
  margin:3px;
  font-size: 13px;
  position: relative;
  bottom: 2px;
}

.project:hover .code {
  color: #ff7f50;
}

.projects-show-all .show-all{
  font-size: 20px;
  font-weight: bolder;
  padding: 8px;
  border-radius: 5px;
  background: pink;
  color:palevioletred;
  transition: background 0.3s ease-out;
}
.show-all:hover{
  background: palevioletred;
  color: white;
}

/* contact */
#contact{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  margin: 20px;
  background: rgb(69, 86, 125);
}
#contact >div{
  display: flex;
  flex-direction: column;
}
.contact-info{
  font-size: 25px;
  font-weight: bolder;
}
.contact-info svg{
  position: relative;
  top:1px;
  right:3px;
}
@media (max-width: 400px) {
  #contact{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 150px;
  }
  #contact >div{
    display: flex;
    flex-direction: initial;
  }
  .contact-info{
    font-size: 15px;
    font-weight: initial;
    text-align: start;
    margin:10px ;
  }
  .contact-content{
    margin: 10px;
  }
}